altgraph==0.17.3
certifi==2022.12.7
charset-normalizer==3.1.0
dpath==2.1.5
idna==3.4
importlib-metadata==6.5.0
jaraco.classes==3.2.3
keyring==23.13.1
luau==0.4.21
more-itertools==9.1.0
mutagen==1.46.0
mypy==1.2.0
mypy-extensions==1.0.0
pefile==2023.2.7
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pywin32==306
pywin32-ctypes==0.2.0
requests==2.28.2
roblox-asset-publish==0.2.11
toml==0.10.2
tomli==2.0.1
types-toml==0.10.8.6
typing_extensions==4.5.0
urllib3==1.26.15
zipp==3.15.0
